/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require main
 *= require_self
 */
header{
  font-family: 'Abril Fatface', cursive;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin: 0px 0px 61px 48px;
  display: inline-block;
  width: 92%;
}

h1{
  font-size: 30px;
  width: 80%;
  float: left;
}

h2{
  font-family: 'Abril Fatface', cursive;
  font-size: 36px;
  text-align: center;
  margin-bottom: 51px;
}

.header-right{
  float: left;
  font-size: 18px;
  width: 20%;
  margin-top: 40px;
}

.log_out{
  margin-right: 49px;
  padding-left: 53px;
}






